<h3>1957 Bonneville</h3>
<p>
  When introduced on January 11th of 1957, the Bonneville was the fastest Pontiac ever produced. Zero to sixty took just 8.1 seconds to achieve. A Bonneville won the Grand National Championship with a top speed of 101. 6 mph and broke all existing records during NASCAR trials at Daytona. The 300+ horsepower fuel injected V8 engine changed the image of the Pontiac nameplate into one that was backed by performance.
</p>    
<p>
  The Pontiac Bonneville Convertible came with a $5782 sticker price, a rather high figure at the time. As a result only 630 examples were produced making them one of the rarest Pontiacs ever produced. Each dealership was given only one car to sell. Most of the cars were finished in white with red 'flashes'; a few were given custom colors.
</p>
<p>
    At the 2006 auction, a '57 Bonneville sold for $115,000.
</p>