<h3>1959 Galaxie</h3>
<p>
  The Ford Galaxie was sold from 1959 until 1974. The name was used for only the top models in the Ford's full-size range from 1959 until 1961. '59 Fords were advertised as having 'Thunderbird elegance' and they featured all new styling. Basically the same vehicle, the '59 Galaxie and Fairlane were virtually impossible to tell apart other than the ornamentation and model name designation. Both vehicles featured a mass amount of stainless steel and chrome body trim and exquisite three-tone cloth interior trim.
</p>
<p>
  Engines available for the 1959 model year were the 292-V8 with 200 horsepower, 223 Mileage Maker six cylinder at 145 hp, 332 Thunderbird Special and 353 Thunderbird Special at 300 hp. Options for transmission include a three speed conventional drive with an overdrive option, Fordomatic Drive two speed automatic, overdrive, and three speed Cruise-O-Matic Drive automatic. Very well liked, the '59 Galaxie continued to be so for many years of Galaxie evolution.
</p>