<h3>1963 Galaxie</h3>
<p>
  Sitting two inches lower than its 1962 forerunner, the 1963.5 'fastback' Galaxie was a reported 28 percent more aerodynamic - a fact that instantly translated into major success on NASCAR's superspeedways. To power the new fastback Galaxie, Ford engineers again beefed up the FE block, this time boring it out to 427 ci, the established legal limit for stock-class racing. Triple carbs were dropped for 1963 in favor of two big Holley four-barrels. Counting both the single-carb 410 hp and the dual-carb 425 hp versions, Ford sold 4,978 427-equipped models in 1963.
</p>
<p>
  The Ford Galaxie entered the scene in 1959 and was offered in various configurations. The model line consisted of a Club Victoria, Town Victoria, Club Sedan, Town Sedan, Sunliner Convertible and Skyliner Retractable. Similar to the Fairlane, they were distinguished by differed ornamentation. 
</p>