<h3>1967 GTO</h3>
<p>
  The 1967 Pontiac GTO stands as one of the most beautiful muscle cars of all time. To their iconic muscle car's pleasing nose, Pontiac designers added simple polished "chain link" grille inserts. At the tail, they resculpted some edges and cleaned up the lamps.
</p>
<p>
  Something fresh lurked behind the 1967 Pontiac GTO's gorgeous new grille: The standard engine was now a 400-cid enlargement of the 389-cid V-8. Compression was unchanged, and the base version, with its four-barrel carburetor, again made 335 horsepower. But taking over the 360-horsepower slot from the discontinued tri-carburetor setup was a new single four-barrel High Output option. Of the 81,722 GTOs built for '67, 13,827 were equipped with the HO engine. These ultimate GTO V-8s had extra-strong valve springs and a longer-duration cam; they were underrated at 360 horsepower. 
</p>
<p>
  Three- and four-speed manual transmissions, both with Hurst shifters, were offered for the 1967 Pontiac GTO. Ram Air versions could use the stick or an automatic, but the 4.33:1 axle ratio was mandatory. Replacing the two-speed automatic was the three-speed Turbo Hydra-matic. When it was ordered with a center console, the gear lever was relocated from the steering column to the floor and a Hurst Dual Gate shifter was used. The driver could leave the lever in Drive, or slide it into an adjacent gate for fully manual shifting.
</p>