<h3>1968 Charger</h3>
<p>
  The 1968 Charger marked the introduction of the second generation of Chargers and included a new design. Going away from the fastback style of the original Charger, the body of the 1968 model was a curvy notchback, with an integrated front bumper, lower hood-line, and flying buttress rear window. Although the body was completely redesigned, the potent array of large V-8 engines remained
</p>
<p>
  Available in six different colors, the interior was offered with either front bench or bucket seats with a console. Map pockets were added to both doors for added convenience. Air conditioning was optional, as was cruise control, power door locks, tachometer, rear window defogger, and a wood-grain steering wheel. New safety features included a power-window safety lockout, recessed ashtrays, and padding around the lower portion of the dashboard for leg and knee protection. Manually-operated latches were added to the front seat-backs to prevent them from pitching forward during sudden stops. Optional safety equipment included front seat head restraints, lap belts for center seat passengers, shoulder belts front and rear, and a padded steering wheel.
</p>
<p>
  The base engine was a two-barrel 318-cid (230HP).  A 383-cid V-8 was offered in two versions (290HP/330HP, two-barrel/4-barrel and 9:2/10/1 compression).  The 440 cubic inch V-8 was rated at 375 horsepower.
</p>