<h3>1968 Camaro</h3>
<p>
  Arriving late on the pony car scene, the Chevy Camaro quickly made up for lost time with a host of luxury and performance options.  1968 saw only minor changes to the second-year Camaro, which included a mild grill redesign, divided rear tail-lamps and side-marker lights added to the front fenders and rear quarters, and ventless door glass. Front running lights on non-RS models were changed from circular to oval.
</p>
<p>
  First-year Camaros had been equipped with single-leaf rear springs, which contributed to unwanted wheel hop under hard acceleration. For 1968, multi-leaf rear springs were fitted to high-performance V-8 models. Rear shock absorber mounting was also redesigned; the passenger-side shock passed behind the axle, and the driver's side shock mounted in front of the axle. This staggered arrangement improved handling and helped eliminate wheel hop.
</p>
<p>
  This car saw success in sales and on the track, as well, winning the Trans-Am championship that year. The car's 396-cu-in big-block V8 was available in 325-, 350, and 375-horsepower levels.
</p>