<h3>1970 Barracuda</h3>
<p>
  The Barracuda was considered an economy car up through 1969, mostly due to its standard A-body frame. Looking to shed its economy car persona and put on a muscle car face, Plymouth engineers went to work on the third generation ('70/'71) of the car.
</p>
<p>
  The ‘70 Barracuda was built on Chrysler’s popular E-body, which was wider and more compact than the B platform. It shared this distinction with the Challenger. There were two six-cylinder and three V8 options: A 318 cu. in. model, a 383 cu. in. model with a two barrel carb, and a 383 cu. in. model with four-barrel carb and dual exhaust that turned out 330 HP.  The ’Cuda Sport had an optional 425HP 426 cu. in. hemi (also, a 440 cu. in. was offered). In 1971, Plymouth dropped the four-barrel 440 cu. in. option in favor of a six-barrel carb configuration.
</p>