<h3>1978 Heavy Half</h3>
<p>
  The Heavy Half was the GMC equivalent to the Chevrolet Big 10. Both were identified by the option code “F44” and contained equipment (more leaf springs, larger front brake rotors, etc.) allowing higher GVW rating than those of the regular Chevy C10/GMC C15.
</p>
<p>
  Prior to 1979, the EPA considered all trucks under 6,000 lbs GVW to be light duty emission class vehicles. With few exceptions, these vehicles required undesirable catalytic converters and the use of unleaded gasoline. The F44 option was introduced to allow buyers the possibility of buying a heavier duty ½ ton truck that could use cheaper leaded gasoline. However, for the 1979 model year, the EPA expanded the light duty classification to include all trucks up to 8,500 lbs GVW. Thus, the Big 10/Heavy Half (and all ¾ ton Chevy C20/GMC C25 trucks, as well) lost this particular advantage. Only 1 ton C30/C35 series remained exempt from catalytic converters and unleaded gas.
</p>