html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

a {
  text-decoration: none;
}
ul {
  white-space: nowrap;
  overflow-x: auto;
}
ul > li {
  list-style-type: none;
}
.main-header {
  flex: 0 1 auto;
  margin: 0 auto;
}
.main-content {
  flex: 1 1 auto;
}
.carImage {
  display: block;
  width: 100%;
  height: auto;
  max-height: 205px;
}
.thumbnail-item {
  display: inline-block;
  width: 24%;
}
.thumbnail-item + .thumbnail-item {  /* all list items except first */
  margin-top: 10px;
}
.thumbnail-title {
  display: block;
  padding: 4px 10px;
  font-size: 1.8em;

  background: rgb(96, 125, 139);
  color: rgb(202, 238, 255);
}
.detail-image {
  width: 90%;
  height: auto;
}
